:host {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
  img {
    max-height: 64px;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5%;
  }
}