<mat-sidenav-container class="catalog" *ngIf='products'>
  <mat-sidenav
    #snav
    [opened]='opened'
    [mode]="mode"
    (click)="onCloseSnav(snav)">
    <button 
      class="close" 
      mat-icon-button 
      (click)="snav.close()">
      <mat-icon>close</mat-icon>
    </button>
    <app-product-list
      [products]='products'
      [selectedProduct]='selectedProduct'></app-product-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-product-detail [product]='selectedProduct'></app-product-detail>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-spinner *ngIf='!products'></mat-spinner>
